import(methods, BiocGenerics, S4Vectors, IRanges, GenomicRanges, SummarizedExperiment, GenomicAlignments)
importFrom(rtracklayer, import)
importFrom(stats, fisher.test, p.adjust, pchisq)

exportClasses("RoarDataset")

export(
  RoarDataset,
  RoarDatasetFromFiles,
  RoarDatasetMultipleAPAFromFiles,
  RoarDatasetMultipleAPA
)

exportMethods(
   countPrePost,
   computeRoars,
   computePvals,
   computePairedPvals,
   totalResults,
   fpkmResults,
   countResults,
   standardFilter,
   pvalueFilter,
   pvalueCorrectFilter
#   cores
#  "cores<-"
)

