importFrom(rtracklayer, import)
importFrom(S4Vectors, DataFrame, Rle)
import(methods, GenomicRanges, SummarizedExperiment, GenomicAlignments, IRanges)
importFrom(stats, fisher.test, p.adjust, pchisq)
importFrom(utils, head, tail)

exportClasses("RoarDataset")

export(
  RoarDataset,
  RoarDatasetFromFiles,
  RoarDatasetMultipleAPAFromFiles,
  RoarDatasetMultipleAPA
)

exportMethods(
   countPrePost,
   computeRoars,
   computePvals,
   computePairedPvals,
   totalResults,
   fpkmResults,
   countResults,
   standardFilter,
   pvalueFilter,
   pvalueCorrectFilter
#   cores
#  "cores<-"
)

